<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="clientMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Alege data si ora programarii</ion-title>
        <ion-buttons slot="primary">
            <ion-back-button text="" defaultHref="/client"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <ion-item>
                            <ion-label>Serviciu dorit</ion-label>
                            <ion-select
                                    [(ngModel)]="selectedService"
                                    (ionChange)="onDesiredServiceChanged()"
                                    required="true"
                                    name="desiredService"
                                    interface="action-sheet">
                                <ion-select-option value="TUNS">Tuns</ion-select-option>
                                <ion-select-option value="BARBA">Barba</ion-select-option>
                                <ion-select-option value="TUNSBARBA">Tuns si barba</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Ziua
                            </ion-label>
                            <ion-datetime display-format="DD.MM.YYYY"
                                          [(ngModel)]="selectedDate"
                                          (ionChange)="onDesiredDayChanged()"
                                          name="dayField"
                                          placeholder="Selecteaza ziua"
                                          [min]="minDateForUIDropDown"
                                          [max]="maxDateForUIDropDown"
                                          [disabled]="!enableDayField"
                            ></ion-datetime>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row [hidden]="!showHours">
                <ion-col size-sm="6" offset-sm="3" class="ion-text-center" >
                    <ion-button *ngFor="let hour of availableHours"
                                type="button"
                                color="primary"
                                (click)="onSelectHour( hour )"
                    >
                        {{ hour }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
