<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="adminMenu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-back-button text="" defaultHref="/admin"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Administrare angajati</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="employees == undefined || employees.length == 0">
        <ion-card-header >
            <ion-card-subtitle class="ion-text-center">Nu aveti niciun angajat</ion-card-subtitle>
            <ion-card-title class="ion-text-center">
                <ion-button
                        type="button"
                        color="primary"
                        [routerLink]="['/','admin','employees','manage-employee']"
                >
                    Adauga un angajat
                </ion-button>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-grid>
        <ion-row *ngFor="let employee of employees">
            <ion-col size-sm="6" offset-sm="3">
                <ion-item-sliding #slidingEmployee>
                    <ion-item class="ion-text-center" color="primary" detail>
                        <ion-label>
                            {{employee.firstName}}  {{employee.lastName}}
                        </ion-label>
                    </ion-item>

                    <ion-item-options side="start">
                        <ion-item-option
                                color="warning"
                                (click)="onEdit(employee.userId, slidingEmployee)"
                        >
                            <ion-icon name="create" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item-options side="end">
                        <ion-item-option
                                color="danger"
                                (click)="onDelete(employee.userId, slidingEmployee)"
                        >
                            <ion-icon name="trash" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
