<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="employeeMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title color="primary">
            Lista programari
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let appointment of appointments">
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            {{appointment.firstName}}
                        </ion-card-title>
                        <ion-card-subtitle>
                            {{appointment.lastName}}
                        </ion-card-subtitle>
                        <ion-card-content>
                            <p>{{appointment.appointmentDate | date: 'dd.MM.yyyy HH:mm'}}</p>
                            <p>{{appointment.duration}} min</p>
                        </ion-card-content>
                        <div>
                            <ion-button
                                    fill="clear"
                                    color="primary"
                                    (click)="onAppointmentDetail(appointment.id)"
                            >More
                            </ion-button>
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
