<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="clientMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Locatii disponibile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-grid>
    <ion-row *ngFor="let location of locations">
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        {{ location.shopName }}
                    </ion-card-title>
                    <ion-card-content>
                        <p>{{ location.description }}</p>
                    </ion-card-content>
                    <div>
                        <ion-button
                                fill="clear"
                                color="primary"
                                [routerLink]="['/', 'client', 'location', 'booking', location.shopId, location.shopName]"
                        >
                            Intra
                        </ion-button>
                    </div>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
