<ion-header>
    <ion-toolbar>
        <ion-title color="primary">{{isLogin ? 'Login' : 'Signup'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <div *ngIf="!isLogin">
                            <ion-item>
                                <ion-label position="floating">
                                    Prenume
                                </ion-label>
                                <ion-input
                                        type="text"
                                        ngModel
                                        name="firstName"
                                        required
                                        firstName
                                        #firstNameCtrl="ngModel"
                                        (keyup.enter)="onSubmit(f)"
                                >
                                </ion-input>
                            </ion-item>
                            <ion-item
                                    *ngIf="!firstNameCtrl.valid && firstNameCtrl.touched"
                                    lines="none"
                            >
                                <ion-label>
                                    Prenumele nu este completat
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">
                                    Nume
                                </ion-label>
                                <ion-input
                                        type="text"
                                        ngModel
                                        name="lastName"
                                        required
                                        lastName
                                        #lastName="ngModel"
                                        (keyup.enter)="onSubmit(f)"
                                >
                                </ion-input>
                            </ion-item>
                            <ion-item
                                    *ngIf="!lastName.valid && lastName.touched"
                                    lines="none"
                            >
                                <ion-label>
                                    Numele nu este completat
                                </ion-label>
                            </ion-item>
                        </div>
                        <ion-item>
                            <ion-label position="floating">
                                E-Mail
                            </ion-label>
                            <ion-input
                                    type="email"
                                    ngModel
                                    name="email"
                                    required
                                    email
                                    #emailCtrl="ngModel"
                                    (keyup.enter)="onSubmit(f)"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!emailCtrl.valid && emailCtrl.touched"
                                lines="none"
                        >
                            <ion-label>
                                Email-ul nu este valid
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Parola
                            </ion-label>
                            <ion-input
                                    type="password"
                                    ngModel
                                    name="password"
                                    required
                                    minlength="6"
                                    #passwordCtrl="ngModel"
                                    (keyup.enter)="onSubmit(f)"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                                lines="none"
                        >
                            <ion-label>
                                Parola trebuie sa aiba minim 6 caractere
                            </ion-label>
                        </ion-item>
                        <div *ngIf="!isLogin">
                            <ion-item>
                                <ion-label position="floating">
                                    Confirmare Parola
                                </ion-label>
                                <ion-input
                                        type="password"
                                        ngModel
                                        name="confirmPassword"
                                        required
                                        minlength="6"
                                        #confirmPasswordCtrl="ngModel"
                                        (keyup.enter)="onSubmit(f)"
                                >
                                </ion-input>
                            </ion-item>
                            <ion-item
                                    *ngIf="!confirmPasswordCtrl.valid && confirmPasswordCtrl.touched"
                                    lines="none"
                            >
                                <ion-label>
                                    Parola trebuie sa aiba minim 6 caractere
                                </ion-label>
                            </ion-item>
                            <ion-item *ngIf="!passwordsAreTheSame" lines="none">
                                <ion-label color="danger">
                                    Parolele nu coincid
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">
                                    Telefon
                                </ion-label>
                                <ion-input
                                        type="tel"
                                        ngModel
                                        name="phone"
                                        required
                                        phone
                                        #phoneCtrl="ngModel"
                                        (keyup.enter)="onSubmit(f)"
                                >
                                </ion-input>
                            </ion-item>
                            <ion-item
                                    *ngIf="!phoneCtrl.valid && phoneCtrl.touched"
                                    lines="none"
                            >
                                <ion-label>
                                    Telefonul nu este completat
                                </ion-label>
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button
                            type="submit"
                            color="primary"
                            expand="block"
                            [disabled]="!f.valid"
                    >
                        {{isLogin ? 'Login' : 'Signup'}}
                    </ion-button>

                    <ion-button
                            type="button"
                            color="primary"
                            fill="clear"
                            expand="full"
                            (click)="onSwitchAuthMode(f)"
                    >
                        Switch to {{isLogin ? 'Signup' : 'Login'}}
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="4" offset-sm="4" class="ion-text-center">
                    <ion-button
                            size="small"
                            type="button"
                            color="danger"
                            (click)="resetPassword()"
                            *ngIf="isLogin"
                    >
                        Reseteaza parola
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <!-- <div class="ion-text-center">
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
      </div> -->
</ion-content>
