<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="clientMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Angajati disponibili</ion-title>
        <ion-buttons slot="primary">
            <ion-back-button text="" defaultHref="/client"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row *ngFor="let employee of ownerAndEmployeesOfTheShop">
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            {{ employee.firstName}} {{ employee.lastName }}
                        </ion-card-title>
                        <ion-card-content>
                            <p>{{ employee.phone }}</p>
                            <p>{{ employee.email }}</p>
                        </ion-card-content>
                        <div>
                            <ion-button
                                    fill="clear"
                                    color="primary"
                                    [routerLink]="['/', 'client', 'location', 'scheduler', employee.userUuId, employee.lastName + ' ' + employee.firstName, shopName]"
                            >
                                Alege
                            </ion-button>
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
