<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="clientMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Rezervari</ion-title>
        <ion-buttons slot="primary">
            <ion-back-button text="" defaultHref="/client"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="appointments == undefined || appointments.length == 0">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Nu aveti nicio programare</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-grid>
        <ion-row *ngFor="let appointment of appointments">
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            {{ appointment.appointmentDate | date:'dd-mm-yyyy HH:mm'}}
                        </ion-card-title>
                        <ion-card-content>
                            <p>{{ appointment.serviceType }}</p>
                            <p>{{ appointment.shopName }}</p>
                            <p>{{ appointment.employeeName }}</p>
                        </ion-card-content>
                        <div>
                            <ion-button
                                    fill="clear"
                                    color="primary"
                                    (click)=cancelAppointment(appointment.id)
                            >
                                Anuleaza
                            </ion-button>
                        </div>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
