<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="adminMenu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-back-button text="" defaultHref="/admin/employees"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">
            {{isEditingEmployee ? 'Modifica date angajat' : 'Adauga angajat'}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">
                                Prenume
                            </ion-label>
                            <ion-input
                                    formControlName="firstName"
                                    type="text"
                                    name="firstName"
                                    firstName
                                    (keyup.enter)="addOrEdit()"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="(form.status === 'INVALID') && form.controls['firstName']?.touched
                                 && form.controls['firstName']?.invalid"
                                lines="none"
                        >
                            <ion-label>
                                Prenumele nu este completat
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Nume
                            </ion-label>
                            <ion-input
                                    formControlName="lastName"
                                    type="text"
                                    name="lastName"
                                    lastName
                                    (keyup.enter)="addOrEdit()"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="(form.status === 'INVALID') && form.controls['lastName']?.touched
                                 && form.controls['lastName']?.invalid"
                                lines="none"
                        >
                            <ion-label>
                                Numele nu este completat
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="!isEditingEmployee">
                            <ion-label position="floating">
                                E-Mail
                            </ion-label>
                            <ion-input
                                    formControlName="email"
                                    type="email"
                                    name="email"
                                    email
                                    (keyup.enter)="addOrEdit()"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="(form.status === 'INVALID') && form.controls['email']?.touched
                                && form.controls['email']?.invalid"
                                lines="none"
                        >
                            <ion-label>
                                Email-ul este incorect
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="!isEditingEmployee">
                            <ion-label position="floating">
                                Password
                            </ion-label>
                            <ion-input
                                    formControlName="password"
                                    type="password"
                                    name="password"
                                    (keyup.enter)="addOrEdit()"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!isEditingEmployee && (form.status === 'INVALID') && form.controls['password']?.touched
                                && form.controls['password']?.invalid"
                                lines="none"
                        >
                            <ion-label>
                                Parola trebuie sa aiba minim 6 caractere
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Telefon
                            </ion-label>
                            <ion-input
                                    formControlName="phone"
                                    type="text"
                                    name="phone"
                                    phone
                                    (keyup.enter)="addOrEdit()"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="(form.status === 'INVALID') && form.controls['phone']?.touched
                                && form.controls['phone']?.invalid"
                                lines="none"
                        >
                            <ion-label>
                                Telefonul nu este completat
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button
                            type="button"
                            color="primary"
                            fill="clear"
                            expand="full"
                            *ngIf="isEditingEmployee"
                            (click)="onGoToBookings()"
                    >
                        Vezi programari angajat
                    </ion-button>
                    <ion-button (click)="addOrEdit()" color="primary" expand="block"
                                [disabled]="form.status === 'INVALID'">
                        {{isEditingEmployee ? 'Modifica' : 'Adauga'}}
                    </ion-button>
                    <ion-button
                            (click)="onChangePassword()"
                            *ngIf="isEditingEmployee"
                            color="danger"
                            expand="block"
                    >
                        Reseteaza parola
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
