<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="close()">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">
            Programari
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item>
                        <ion-label position="fixed">
                            Nume
                        </ion-label>
                        <ion-input type="text" [value]="appointment?.firstName + ' '
                        + appointment?.lastName" readonly>
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="fixed">
                            Durata
                        </ion-label>
                        <ion-input type="text" [value]="appointment?.duration + ' min'" readonly>
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="fixed">
                            Data
                        </ion-label>
                        <ion-input type="text" [value]="appointment?.appointmentDate | date: 'HH:mm dd.MM.yyyy'" readonly>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="fixed">
                            Email
                        </ion-label>
                        <ion-input type="text" [value]="appointment?.email" readonly>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="fixed">
                            Telefon
                        </ion-label>
                        <ion-input type="text" [value]="appointment?.phone" readonly>
                        </ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
