<ion-app>
    <ion-menu id="adminMenu" side="start" menuId="adminMenu">
        <ion-header>
            <ion-toolbar>
                <ion-title>Meniu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item routerLink="/admin">
                        <ion-icon name="home-outline" slot="start"></ion-icon>
                        <ion-label>Acasa</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item routerLink="/admin/employees/manage-employee">
                        <ion-icon name="person-add-outline" slot="start"></ion-icon>
                        <ion-label>Adauga angajati</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" (click)="logout()" button>
                        <ion-icon name="exit-outline" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-menu id="clientMenu" side="start" menuId="clientMenu">
        <ion-header>
            <ion-toolbar>
                <ion-title>Meniu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" (click)="goHome()" button>
                        <ion-icon name="home-outline" slot="start"></ion-icon>
                        <ion-label>Home</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" (click)="checkReservations()" button>
                        <ion-icon name="book-outline" slot="start"></ion-icon>
                        <ion-label>Rezervari</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" (click)="logout()" button>
                        <ion-icon name="exit-outline" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-menu id="employeeMenu" side="start" menuId="employeeMenu">
        <ion-header>
            <ion-toolbar>
                <ion-title>Meniu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" (click)="logout()" button>
                        <ion-icon name="exit-outline" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
