<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="adminMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagina administrare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        offset-sm="3"
        class="ion-text-center ion-padding"
      >
        <img src="assets/images/bookMe.jpeg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        offset-sm="3"
        class="ion-text-center ion-padding"
      >
        <ion-button [routerLink]="['/', 'admin', 'employees']">
          Angajati
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        offset-sm="3"
        class="ion-text-center ion-padding"
      >
        <ion-button (click)="showAppointments()"> Pagina programari</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        offset-sm="3"
        class="ion-text-center ion-padding"
      >
        <ion-button (click)="goToShop()"> Configureaza magazin</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
