<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="adminMenu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-back-button text="" defaultHref="/admin"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Detalii Magazin</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" *ngIf="!isLoading">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">
                                Nume magazin
                            </ion-label>
                            <ion-input
                                    type="text"
                                    autocomplete
                                    autocorrect
                                    formControlName="shopName"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="
            !form.get('shopName').valid && form.get('shopName').touched
            "
                                lines="none"
                        >
                            <ion-label>
                                Numele magazinului este obligatoriu
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">
                                Descriere magazin
                            </ion-label>
                            <ion-input
                                    type="text"
                                    autocomplete
                                    autocorrect
                                    formControlName="shopDescription"
                            >
                            </ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="
            !form.get('shopDescription').valid && form.get('shopDescription').touched
            "
                                lines="none"
                        >
                            <ion-label>
                                Descrierea magazinului este obligatorie
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button
                            type="submit"
                            color="primary"
                            expand="block"
                            [disabled]="!form.valid"
                            (click)="saveShop()"
                    >
                        Salveaza
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
